img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

.brand-image {
    margin-top: -12px;
    height: 45px;
}

div.list-group .nav-top-level {
    font-weight: bold;
    color: #184D74;
}

div.list-group .nav-top-level {
    border: 0px;
}

div.list-group .nav-top-level.nav-active {
    color: #1D7BC1;
    border-left: 5px solid #0091FF;
}

div.list-group .nav-2nd-level {
    border: 0px;
    padding-left: 40px;
}

div.list-group .nav-3rd-level {
    border: 0px;
    padding-left: 50px;
    font-size: 13px;
}

div.list-group .nav-2nd-level.nav-active {
    border-right: 3px solid #0091FF;
}

div.container>div.navigation {
    border-right: 1px solid #e7e7e7;
}

div.footer {
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #777;
}

a.toclink:hover {
    text-decoration: none;
}
