consumer:
  healthCheckPort: 8070
  zookeeper:
    clusters:
      - datacenter: "dc"
        root: "/run/hermes"
        connectionString: "zk:2181"
  kafka:
    clusters:
      - datacenter: "dc"
        brokerList: "kafka:29092"
  workload:
    consumerPerSubscription: 1
  schema:
    cache:
      refreshAfterWrite: 1m
    repository:
      serverUrl: "http://schema-registry:8081"