build
.gradle
classes
.idea
*.iml
*.ipr
*.iws
/data
out
/lib

.nb-gradle/
.nb-gradle*

**/*.log

# sphinx
/site
_build

# hermes-console

hermes-console/dist
hermes-console/build
hermes-console/out
hermes-console/coverage
hermes-console/test_out
hermes-console/package-lock.json

hermes-console/static/components

hermes-console/node_modules
hermes-console/config.json

integration/src/integration/e2e/node_modules
integration/src/integration/e2e/cypress/reports
integration/src/integration/e2e/cypress/videos
integration/src/integration/e2e/cypress/screenshots

scripts/.Python
scripts/bin/
scripts/include/
scripts/lib/
scripts/pip-selfcheck.json

.DS_Store
