sudo: false

language: java

install: ./gradlew assemble
script:
  - "./gradlew check"
  - "./gradlew -Ptests.timeout.multiplier=3 integrationTest"

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

branches:
  only:
      - master
      - develop
