sudo: required
dist: trusty

language: java

install: ./gradlew assemble
script:
  - "./gradlew check -Ptests.timeout.multiplier=3"
  - "./gradlew -Ptests.timeout.multiplier=3 integrationTest"

jdk:
  - oraclejdk8

after_success:
  - python <(curl -s https://raw.githubusercontent.com/TouK/sputnik-ci/master/sputnik-ci.py)

addons:
  apt:
    packages:
      - oracle-java8-installer

branches:
  only:
      - master
      - develop
      - 558_travis_tests

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/