sudo: false
dist: trusty

language: java

env:
  - TEST_SUITE=check
  - TEST_SUITE=integrationTest
  - TEST_SUITE="jmh -Pjmh.iterations=1 -Pjmh.timeOnIteration=5s -Pjmh.warmupIterations=0"

install: ./gradlew assemble
script:
  - "./gradlew --info -Ptests.timeout.multiplier=3 $TEST_SUITE"

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

branches:
  only:
      - master
      - develop

