<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="warn" />
    <logger name="kafka" level="warn" />
    <logger name="org.apache.kafka" level="warn" />
    <logger name="org.apache.kafka.common.network.Selector" level="error"/>
    <logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="OFF"/>
    <logger name="org.eclipse.jetty.server.HttpChannel" level="error"/>
    <logger name="pl.allegro.tech.hermes.consumers.supervisor.workload.selective.SelectiveWorkBalancer" level="warn" />
    <logger name="pl.allegro.tech.hermes.consumers.supervisor.workload.BalancingJob" level="warn" />
    <logger name="pl.allegro.tech.hermes.consumers.registry.ConsumerNodesRegistry" level="warn" />
    <logger name="pl.allegro.tech.hermes.consumers.consumer.rate.maxrate.MaxRateCalculator" level="warn" />

    <logger name="org.mortbay.log" level="info" />

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
