body {
    position: relative;
    padding-bottom: 5rem;
    min-height: 100vh;
}

.logo-mini {
    margin-top: -12px;
    height: 40px;
}

.hero-box {
    margin-bottom: 4em;
    margin-top: 4em;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-top-10 {
    margin-top: 10px;
}

.input-dropdown-menu {
    margin-top: 35px;
}

.borderless td {
    border: none;
}

span.helpme {
    color: #428bca;
    padding: .2em .6em .2em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

span.helpme-addon {
    color: #428bca;
    text-align: center;
    font-weight: bold;
}

.panel-body.collapsing:not(.in) {
    padding: 0px;
}

.btn-main {
    color: #428bca;
    background-color: #f5f5f5;
    font-weight: bold;
    font-size: 2em;
    border-color: #e7e7e7;
}

.btn-main:hover, .btn-main:focus {
    color: #2a6496;
}

.auth-pane {
    margin: 10px;
}

.loading-in-panel {
    margin-left: 100px;
}

a.navbar-brand.console-title {
    color: #2a6496;
}

.message-preview > .content {
    margin: 10px 0 0 0;
}

.message-preview > .truncated-info {
    font-style: italic;
}

#toast-container > div {
    width: auto;
    max-width: 800px;
}

.tooltip .tooltip-inner {
    color: #333;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 9px 14px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;

    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;

    text-align: center;
    color: #b9b9b9;
}

.full-width {
    display: block;
}

.ace_editor_debug { height: 300px; }
.ace_editor_schema { height: 500px; }
