version: '3'

services:
  zk:
    image: confluentinc/cp-zookeeper:5.1.0
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    volumes:
      - zk_secrets:/etc/zookeeper/secrets
      - zk_data:/var/lib/zookeeper/data
      - zk_log:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:5.1.0
    ports:
      - '9092:9092'
      - '29092:29092'
    depends_on:
      - zk
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zk:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data
      - kafka_secrets:/etc/kafka/secrets

  graphite:
    image: graphiteapp/graphite-statsd:1.1.3
    ports:
      - '2003-2004:2003-2004'
      - '2023-2024:2023-2024'
      - '8125:8125/udp'
      - '8126:8126'
      - '8082:80'
    volumes:
      - graphite_conf:/opt/graphite/conf
      - graphite_data:/opt/graphite/storage
      - statsd_data:/opt/statsd

  #frontend:
  #  image: allegro/hermes-frontend
  #  ports:
  #    - "8080:8080"
  #  depends_on:
  #    - zk
  #    - kafka
  #    - graphite

  #consumers:
  #  image: allegro/hermes-consumers
  #  depends_on:
  #    - zk
  #    - kafka
  #   - graphite

  #management:
  #  image: allegro/hermes-management
  #  ports:
  #    - "8090:8090"
  #  depends_on:
  #    - zk
  #    - kafka
  #    - graphite

  schema-registry:
    image: confluentinc/cp-schema-registry:5.1.0
    depends_on:
      - zk
      - kafka
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: zk:2181
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    ports:
      - "8081:8081"

volumes:
  graphite_conf:
  graphite_data:
  statsd_data:
  zk_secrets:
  zk_data:
  zk_log:
  kafka_data:
  kafka_secrets:




