version: '3'

services:
  zk:
    image: "confluentinc/cp-zookeeper:${CONFLUENT_IMAGES_TAG}"
    ports:
      - "2181:2181"
    user: root
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    volumes:
      - zk_secrets:/etc/zookeeper/secrets
      - zk_data:/var/lib/zookeeper/data/version-2
      - zk_log:/var/lib/zookeeper/log/version-2

  kafka:
    image: "confluentinc/cp-kafka:${CONFLUENT_IMAGES_TAG}"
    ports:
      - '9092:9092'
    depends_on:
      - zk
    user: root
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zk:2181
      KAFKA_ADVERTISED_LISTENERS: DOCKER_INTERNAL_LISTENER://kafka:29092,DOCKER_EXTERNAL_LISTENER://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: DOCKER_INTERNAL_LISTENER:PLAINTEXT,DOCKER_EXTERNAL_LISTENER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER_INTERNAL_LISTENER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data
      - kafka_secrets:/etc/kafka/secrets

  prometheus:
    image: "victoriametrics/victoria-metrics:${VICTORIA_METRICS_IMAGES_TAG}"
    ports:
      - '8428:8428'

  vmagent:
    image: "victoriametrics/vmagent:${VICTORIA_METRICS_IMAGES_TAG}"
    ports:
      - '8429:8429'
    volumes:
      - ../docker/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--promscrape.config=/etc/prometheus/prometheus.yml"
      - "--remoteWrite.url=http://prometheus:8428/api/v1/write"
    depends_on:
      - prometheus

   frontend:
     build:
       context: ../
       dockerfile: ./docker/latest/frontend/Dockerfile
     ports:
       - "8080:8080"
     depends_on:
       - zk
       - kafka

   consumers:
     build:
       context: ../
       dockerfile: ./docker/latest/consumers/Dockerfile
     ports:
       - "8070:8070"
     depends_on:
       - zk
       - kafka

   management:
     build:
       context: ../
       dockerfile: ./docker/latest/management/Dockerfile
     ports:
       - "8090:8090"
     depends_on:
       - zk
       - kafka
       - prometheus

  schema-registry:
    image: "confluentinc/cp-schema-registry:${CONFLUENT_IMAGES_TAG}"
    depends_on:
      - zk
      - kafka
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "PLAINTEXT://kafka:29092" # CONFLUENT_IMAGES_TAG >= 7.x.x
    ports:
      - "8081:8081"

volumes:
  zk_secrets:
  zk_data:
  zk_log:
  kafka_data:
  kafka_secrets:




