/*
 * Vuetify tooltip 100% opacity override
 */
.v-overlay, .v-tooltip {
  .v-overlay__content {
    background: rgba(var(--v-theme-surface-variant), 1) !important;
    line-height: 1.25 !important;
    max-width: 300px !important;
  }
}

body {
  font-size: 90%;
}