<section>
    <div class="modal-header">
        <h3 class="modal-title" ng-show="operation === 'ADD'"><small>Create topic:</small> {{topic.name.indexOf(groupName) === 0 ? '' : groupName}}.{{topic.shortName}}</h3>
        <h3 class="modal-title" ng-show="operation === 'EDIT'"><small>Edit topic:</small> {{topic.name}}</h3>
    </div>
    <div class="modal-body">
        <form name="topicForm" class="form-horizontal" role="form">
            <div ng-hide="!authEnabled.headers || isAuthorized" class="form-group {{topicForm.groupPassword.$valid ? '' : 'has-error'}}">
                <label for="groupPassword" class="col-md-3 control-label">Group password</label>
                <div class="col-md-9">
                    <input class="form-control" type="password" ng-required="!isAuthorized && authEnabled.headers" id="groupPassword" name="groupPassword" placeholder="password for group {{groupName}}" ng-model="groupPassword"/>
                </div>
            </div>
            <div class="form-group {{topicForm.topicName.$valid ? '' : 'has-error'}}" ng-show="operation === 'ADD'">
                <label for="topicName" class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input class="form-control" id="topicName" required name="topicName" placeholder="name of topic, without group prefix" ng-model="topic.shortName" ng-pattern="/^[a-zA-Z0-9_-]+$/"/>
                </div>
            </div>
            <div class="form-group {{topicForm.topicDescription.$valid ? '' : 'has-error'}}">
                <label for="topicDescription" class="col-md-3 control-label">Description</label>
                <div class="col-md-9">
                    <input class="form-control" required id="topicDescription" name="topicDescription" placeholder="what type of messages you publish?" ng-model="topic.description"/>
                </div>
            </div>
            <div class="form-group {{topicForm.topicRetention.$valid ? '' : 'has-error'}}">
                <label for="topicRetention" class="col-md-3 control-label">Retention time</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="number" min="0" max="7" required class="form-control" id="topicRetention" name="topicRetention" ng-model="topic.retentionTime.duration" placeholder="how long should we keep them for subscribers?"/>
                        <span class="input-group-addon">days</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="topicAck" class="col-md-3 control-label">Kafka ACK Level</label>
                <div class="col-md-9">
                    <select id="topicAck" class="form-control" ng-model="topic.ack">
                        <option>LEADER</option>
                        <option>ALL</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="trackingEnabled" class="col-md-3 control-label">Tracking enabled</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="checkbox" id="trackingEnabled" name="trackingEnabled" ng-model="topic.trackingEnabled"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="topicType" class="col-md-3 control-label">Content type</label>
                <div class="col-md-9">
                    <select id="topicType" class="form-control" ng-disabled="operation === 'EDIT'" ng-model="topic.contentType">
                        <option>AVRO</option>
                        <option>JSON</option>
                    </select>
                </div>
            </div>
            <div class="form-group {{topicForm.messageSchema.$valid ? '' : 'has-error'}}" ng-show="topic.contentType === 'AVRO'">
                <label for="messageSchema" class="col-md-3 control-label">
                    <a href="http://hermes-pubsub.rtfd.org/en/latest/user/publishing-avro/" target="_blank">AVRO schema</a>
                </label>
                <div class="col-md-9">
                    <div class="alert alert-info">
                        Schema definition <b>must contain</b> an additional field for Hermes internal use:<br>
                        <pre>
{
    "name": "__metadata", "default": null,
    "type": ["null", {"type": "map", "values": "string"}],
    "doc": "Field used in Hermes internals to propagate metadata"
}
                        </pre>
                    </div>
                    <textarea class="form-control" id="messageSchema" ng-required="topic.contentType === 'AVRO'"
                              name="messageSchema" placeholder="Message schema"
                              ng-model="messageSchema" rows="20"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="topicForm.$invalid" ng-click="save()">Save</button>
        <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
</section>
