<section>
    <div class="modal-header">
        Offline retransmission
    </div>
    <div class="modal-body">
        <form name="retransmissionForm" class="form-horizontal" role="form">
            <div class="form-group row {{retransmissionForm.targetTopic.$valid ? '' : 'has-error'}}">
                <label for="targetTopic" class="control-label col-md-3 pull-left">Target topic</label>
                <div class="input-group col-md-8 pull-left">
                    <input class="form-control" id="targetTopic" required name="targetTopic"
                           placeholder="target.topic.full.name" ng-model="retransmissionRequest.targetTopic"/>
                </div>
            </div>
            <div class="form-group row {{retransmissionForm.startTimestamp.$valid ? '' : 'has-error'}}">
                <label for="startTimestamp" class="control-label col-md-3 pull-left">Start timestamp</label>
                <div class="input-group date col-md-8 pull-left">
                    <input type="text" class="form-control" required ng-model="retransmissionRequest.startTimestamp"
                           placeholder="start..." id="startTimestamp" name="startTimestamp" calendar
                           days-back="calendarDaysBack"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
            <div class="form-group row {{retransmissionForm.endTimestamp.$valid ? '' : 'has-error'}}">
                <label for="endTimestamp" class="control-label col-md-3 pull-left">End timestamp</label>
                <div class="input-group date col-md-8 pull-left">
                    <input type="text" class="form-control" required ng-model="retransmissionRequest.endTimestamp"
                           placeholder="end..." id="endTimestamp" name="endTimestamp" calendar days-back="calendarDaysBack"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="retransmissionForm.$invalid" ng-click="createTask()">
            Retransmit
        </button>
        <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
</section>
