/*
 * Vuetify tooltip 100% opacity override
 */
.v-overlay, .v-tooltip {
  .v-overlay__content {
    line-height: 1.25 !important;
    max-width: 300px !important;
  }
}

.row-gap-1 {
  row-gap: 4px;
}

.row-gap-2 {
  row-gap: 8px;
}

.row-gap-3 {
  row-gap: 12px;
}

.row-gap-4 {
  row-gap: 16px;
}

.column-gap-2 {
  column-gap: 8px;
}

.column-gap-1 {
  column-gap: 4px;
}
