<div>
    <div ng-click="toggleExpansion()" ng-style="{'cursor': expandable ? 'pointer' : 'default'}" class="flex-row">
        <div ng-if="!root" class="tree-branch" ng-class="{'long-branch': !expandable}"></div>
        <span ng-style="{'visibility': expandable ? 'visible' : 'hidden'}" class="caret margin-right-4" style="margin-top: .7em" ng-class="{'rotated-90-deg': !expanded}"></span>
        <span  class="text-info margin-right-4" data-ref="name">{{name}}</span></span>
        <span class="text-primary margin-right-4 monospaced" data-ref="type" ng-if="!root">{{types.join('|')}}</span>
        <span ng-if="expandableTypesNumber > 1" class="text-warning margin-right-half-em">(only one type is shown)</span>
        <span class="text-muted margin-right-4" ng-if="field.doc" data-ref="doc">{{doc}}</span>
        <span ng-if="field.default" class="text-muted" data-ref="default">Default: {{field.default}}</span>
    </div>
    <div style="padding-left: 2em" ng-show="expanded" data-ref="children"></div>
</div>
