<section ng-controller="ConstraintsController">

    <ol class="breadcrumb">
        <li><a href="#/">home</a></li>
        <li class="active">constraints</li>
    </ol>

    <h1><small>Constraints:</small></h1>

    <div class="row container">
        <div class="list-group">
            <div class="list-group-item">
                <div class="form-inline pull-right">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control" ng-model="search.topicName" placeholder="search...">
                    </div>
                    <button class="btn btn-primary" ng-click="addTopicConstraints()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <h4>
                    Topic constraints
                </h4>
            </div>
            <a class="list-group-item" ng-repeat="item in topicConstraints | filter:search:strict | orderBy:'topicName'" ng-click="edit(item)">
                <small>{{$index + 1}}</small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <strong>{{item.topicName}}</strong>
                <div class="pull-right">
                    <span class="label label-info">consumers number: {{ item.consumersNumber }}</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </a>
        </div>
    </div>

    <div class="row container">
        <div class="list-group">
            <div class="list-group-item">
                <div class="form-inline pull-right">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control" ng-model="search.subscriptionName" placeholder="search...">
                    </div>
                    <button class="btn btn-primary" ng-click="addSubscriptionConstraints()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <h4>
                    Subscription constraints
                </h4>
            </div>
            <a class="list-group-item" ng-repeat="item in subscriptionConstraints | filter:search:strict | orderBy:'subscriptionName'" ng-click="edit(item)">
                <small>{{$index + 1}}</small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <strong>{{item.subscriptionName}}</strong>
                <div class="pull-right">
                    <span class="label label-info">consumers number: {{ item.consumersNumber }}</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </a>
        </div>
    </div>

</section>
