<section ng-controller="HomeController">

    <div class="hero-box text-center">
        <img src="img/hermes-logo-full.png" alt="Hermes"/>
    </div>

    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-6 col-md-offset-3">
            <a class="btn btn-main btn-block" ng-href="#/groups">
                <i class="fa fa-cogs"></i> Console
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-3 col-md-offset-3">
            <a class="btn btn-main btn-block" ng-href="#/stats">
                <i class="fa fa-tasks"></i> Stats
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-main btn-block" ng-href="#/search">
                <i class="fa fa-search"></i> Search
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-3 col-md-offset-3">
            <a class="btn btn-main btn-block" ng-href="{{statsDashboard}}" target="_blank">
                <i class="fa fa-bar-chart"></i> Runtime
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-main btn-block" ng-href="{{docs}}" target="_blank">
                <i class="fa fa-book"></i> Docs
            </a>
        </div>
    </div>

    <div class="row" ng-if="admin">
        <div class="col-md-6 col-md-offset-3">
            <div class=" btn-group btn-block" dropdown>
                <button class="btn btn-main btn-block dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-wrench"></i> Admin Tools <span class="caret"></span>
                </button>
                <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#/constraints">Constraints</a></li>
                    <li role="menuitem"><a href="#/consistency">Consistency</a></li>
                </ul>
            </div>
        </div>
    </div>

</section>
