<section ng-controller="ReadinessController">

    <ol class="breadcrumb">
        <li><a href="#/">home</a></li>
        <li class="active">readiness</li>
    </ol>

    <div class="alert alert-danger" role="alert" ng-if="error">
        Error during setting datacenter readiness:<br>
        {{error}}
    </div>

    <h1>Datacenter readiness</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Datacenter</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in datacenters">
                        <td>{{$index + 1}}</td>
                        <td>{{item.datacenter}}</td>
                        <td>
                            <button class="btn btn-danger" ng-if="item.status === 'READY'" ng-click="openModal(item)">Turn off</button>
                            <button class="btn btn-success" ng-if="item.status === 'NOT_READY'" ng-click="openModal(item)">Turn on</button>
                            <div class="alert alert-warning" ng-if="item.status === 'UNDEFINED'">Cannot obtain readiness status</div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</section>
