<section ng-controller="SearchController">

    <ol class="breadcrumb">
        <li><a href="#/">home</a></li>
        <li class="active">search</li>
    </ol>

    <h1>Search Subscriptions</h1>

    <div class="row">
        <div class="input-group col-md-7 col-md-offset-2">
            <div class="btn input-group-addon" ng-click="searchSubscriptions()"><span class="glyphicon glyphicon-search"></span></div>
            <input class="form-control" ng-model="endpoint" placeholder="endpoint... (regexp value)">
        </div>
    </div>

    <div class="row">
        <div class="list-group">
            <a ng-href="#/groups/{{getGroup(subscription.topicName)}}/topics/{{subscription.topicName}}/subscriptions/{{subscription.name}}"
               class="list-group-item" ng-repeat="subscription in subscriptions">

                <div class="col-md-1 small">{{$index + 1}}</div>
                <div class="col-md-3 strong"><strong>{{subscription.topicName}}.{{subscription.name}}</strong></div>
                <span>{{subscription.endpoint}}</span>
                <div class="pull-right">
                    <span class="label {{subscription.state === 'ACTIVE' ? 'label-success' : 'label-danger'}}" >{{subscription.state}}</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </a>
        </div>

        <div ng-show="fetching" class="text-center">
            <h1><i class="fa fa-circle-o-notch fa-spin"></i></h1>
        </div>
    </div>
</section>