<section ng-controller="SubscriptionOffsetsController">

    <ol class="breadcrumb">
        <li><a href="#/">home</a></li>
        <li class="active">subscription-offsets</li>
    </ol>

    <div class="alert alert-danger" role="alert" ng-if="error">
        Error during moving offsets for subscription:<br>
        {{error}}
    </div>

    <h1>Move subscription offsets to the end</h1>
    <div class="container">
        <div class="row">
            <form name="moveOffsetsForm" class="form col-md-10">
                <div class="row">
                    <div class="col-md-6 padding-lr-2">
                        <div class="form-group">
                            <input name="subscriptionFullName" class="form-control" placeholder="groupName.topicName.subscriptionName"
                                   ng-model="subscriptionFullName" required pattern="(.+)\.(.+)\.(.+)"/>
                        </div>
                    </div>
                    <div class="col-md-2 padding-lr-2">
                        <button type="submit" class="btn btn-primary" ng-disabled="moveOffsetsForm.$invalid" ng-click="moveOffsets()">Move</button>
                    </div>
                </div>
            </div>
        </div>
</section>
