name: Console CI

# Configured for all pushes and PRs for the sake of new console development on dev branches.
# Later it could be changed to pushes and PRs only to master branch to match main CI config.
on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./hermes-console-vue
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Run frontend tests
        run: yarn && yarn test:unit
      - name: Run linter
        run: yarn lint
