name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tasks: [
          {alias: "unitTests", name: "check"},
          {alias: "integrationTests", name: "integrationTest"},
          {alias: "benchmark", name: "jmh -Pjmh.iterations=1 -Pjmh.timeOnIteration=5s -Pjmh.warmupIterations=0"}
        ]
      fail-fast: false
    name: ${{ matrix.tasks.alias }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew assemble
      - name: Run task with Gradle
        run: ./gradlew ${{ matrix.tasks.name }}
      - name: Archive task results
        uses: actions/upload-artifact@v3
        if: (success() || failure()) && matrix.tasks.alias != 'benchmark'
        with:
          name: ${{ matrix.tasks.name }}-test-report
          path: '**/build/test-results/**/TEST-*.xml'
          retention-days: 90
